env/
semantic_search/search-bert-model
semantic_search/plot_embeddings.pkl
semantic_search/test_queries
Queries/generated_queries_2.csv
Queries/generated_queries.csv
.ipynb_checkpoints
frontend/node_modules
__pycache__/
.vscode
.DS_Store
BM25.pickle

BM25.pickle
