env/
Semantic Search/bert_models
Semantic Search/embeddings
Semantic Search/test_queries
Queries/generated_queries_2.csv
Queries/generated_queries.csv
.ipynb_checkpoints
frontend/node_modules
__pycache__/
.vscode
.DS_Store
BM25.pickle
plot_embeddings.pkl
